[submodule "applications/gmp-deploy"]
	path = applications/foundation/gmp-deploy
	url = https://github.com/SouthAfricaDigitalScience/gmp-deploy
[submodule "applications/foundation/mpfr-deploy"]
	path = applications/foundation/mpfr-deploy
	url = https://github.com/SouthAfricaDigitalScience/mpfr-deploy
[submodule "applications/foundation/mpc-deploy"]
	path = applications/foundation/mpc-deploy
	url = https://github.com/SouthAfricaDigitalScience/mpc-deploy
[submodule "applications/math/lapack-deploy"]
	path = applications/math/lapack-deploy
	url = https://github.com/SouthAfricaDigitalScience/lapack-deploy
[submodule "applications/math/blas-deploy"]
	path = applications/math/blas-deploy
	url = https://github.com/SouthAfricaDigitalScience/blas-deploy
[submodule "applications/math/ATLAS-deploy"]
	path = applications/math/ATLAS-deploy
	url = https://github.com/SouthAfricaDigitalScience/ATLAS-deploy
[submodule "applications/math/suitesparse-deploy"]
	path = applications/math/suitesparse-deploy
	url = https://github.com/SouthAfricaDigitalScience/suitesparse-deploy
