/* Coolors Exported Palette - coolors.co/000000-38023b-a288e3-f0f7ee-bbd5ed */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(297%, 93%, 12%, 1);
$color3: hsla(257%, 62%, 71%, 1);
$color4: hsla(107%, 36%, 95%, 1);
$color5: hsla(209%, 58%, 83%, 1);

/* RGB */
$text_color: rgba(0, 0, 0, 1);
$h1_color: rgba(56, 2, 59, 1);
$h2_color: rgba(162, 136, 227, 1);
$background: rgba(240, 247, 238, 1);
$link_color: rgba(187, 213, 237, 1);

/* fonts */
// h1_font: 'Roboto Slab', serif;
// body_font: 'Raleway', sans-serif;
// not_found_font: 'Permanent Marker', cursive;