---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<center>
  <img src="images/coderade.png"/>
  <p>
    <h1><b>Co</b>ntinuous <b>De</b>livery of <b>R</b>esearch <b>A</b>pplications in a <b>D</b>istributed <b>E</b>nvironment</h1>
  </p>
<h2>
<p>
<span class="fa fa-wrench" aria-hidden="true"></span>
Build.
<span class="fa fa-check" aria-hidden="true"></span>
Test.
<span class="fa fa-cog" aria-hidden="true"></span>
Execute.
<span class="fa fa-globe" aria-hidden="true"></span>
Everywhere.
</h2>
  </center>
</p>

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.title %}
		{% include frontpage-widget widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include frontpage-widget widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include frontpage-widget widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->


{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
